body {
     font-size: 18px;
     color: black;
     text-align: center;
     max-width: 650px;
     line-height: 1.6;
     padding: 0;
     text-align: justify;
     margin: 10px auto;
 }
 
 .still {
     font-style: italic;
 }
 
 p {
     font-family: monospace sans-serif;
 }
